:root{
    --red: #FF0100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    margin-bottom: 1rem;
}
nav section:first-child{
    background-color: black;
    color: white;
    padding: 6px 6% 6px 6%;
}
nav section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 6% 6px 6%;

}
nav section div:first-child{
    display: flex;
    gap: 15px;
}
nav section div:nth-child(2) img{
    width: 10rem;
}
#nav-search{
    display: flex;
    align-items: center;
    gap: 10px;
}
#nav-search p:first-child{
    background-color: var(--red);
    padding: 6px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
#nav-search p:first-child svg{
    color: white;
}
#nav-search div{
    display: flex;
    align-items: center;
    background-color: var(--red);
    color: white;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 20px;
    gap: 7px;
}
nav section:nth-child(3){
    padding: 0.7rem 6% 0.7rem 6%;
    overflow-x: hidden;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
nav section:nth-child(3) div{ 
    display: flex;   
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
nav section:nth-child(3) div{
    overflow-x: scroll;
    scrollbar-width: none;
}
main{
    padding: 6px 6% 6px 6%;
}
main div:first-child{
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: smaller;    
}