:root{
    --red: #FF0100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
@media screen and (min-width: 1536px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
a{
    text-decoration: none;
    color: black;
}
nav{
    margin-bottom: 1rem;
}
button{
    border: none;
}
nav section:first-child{
    background-color: black;
    color: white;
    padding: 6px 6% 6px 6%;
}
nav section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 6% 6px 6%;

}
nav section div:first-child{
    display: flex;
    gap: 15px;
}
nav section div:nth-child(2) img{
    width: 10rem;
}
#nav-search{
    display: flex;
    align-items: center;
    gap: 10px;
}
#nav-search p:first-child{
    background-color: var(--red);
    padding: 6px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
#nav-search p:first-child svg{
    color: white;
}
#nav-search div{
    display: flex;
    align-items: center;
    background-color: var(--red);
    color: white;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 20px;
    gap: 7px;
}
nav section:nth-child(3){
    padding: 0.7rem 6% 0.7rem 6%;
    overflow-x: hidden;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
nav section:nth-child(3) div{ 
    display: flex;   
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
nav section:nth-child(3) div{
    overflow-x: scroll;
    scrollbar-width: none;
}
main{
    padding: 6px 6% 6px 6%;
}
main #hero-ads{
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    height: 100px;
    padding-top: 0.5rem;
    margin-bottom: 70px;
}
main #hero-ads p{
    font-size: x-small;
    letter-spacing: 0.1rem;
    font-weight: 400;
}
section.notify{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}
.hidden{
  display: none !important;
}
#subscribeMessage{
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    width: 500px;
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(231, 230, 230);
}
#subscribe{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#subscribe div{
    display: flex;
    justify-content: right;
    gap: 8px;
}
#subscribe button{
    padding: 0.9rem;
    border: none;
    border-radius: 7px;
    font-size: medium;
    color: #0078D1;
    background: none;
}
#subscribe button:nth-child(2){
    background-color: #0078D1;
    color: white;
}
div.latest-news{
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
section.latest-top-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 70px;
}
div.before-style{
    border-left: solid 1px gray;
    padding: 15px 0 15px 25px;
    position: relative;
}
div.top-style{
    padding: 15px 0;
}
div.before-style::before{
    content: '';
    position: absolute;
    top: 20px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: #E7131A;
    border-radius: 50%;
}
div.in-latest-news{
    border-bottom: solid 1px gray;
}
div.in-latest-news small:first-child{
    color: var(--red);
    font-style: italic;
}
div.in-latest-news p{
    font-size: medium;
}
section.latest-top-news h3, .top-videos-section h1,.all-metro div:first-child h1:first-child{
    position: relative;
    padding-left: 25px;
}
section.latest-top-news h3::before, .top-videos-section h1::before ,.all-metro div:first-child h1:first-child:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: var(--red);
}
div.latest-img{
    position: relative;
}
div.latest-img h1{
    position: absolute;
    background-color: #E2E2E2;
    padding: 40px 25px;
    font-size: 25px;
    bottom: 0;
}
div.latest-img img{
    width: 500px;
    height: 400px;
}

section.notify-bell{
    position: fixed;
    bottom: 70px;
    left: 20px;
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 20px;
}
section.notify-bell svg:first-child{
    color: #E54B4D;
    border-radius: 50%;
    border: 7px solid #E54B4D;
}
div.sub-notify-bell p{
    background-color: black;
    left: 0;
    padding: 20px 25px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}
svg#triangle{
    position: absolute;
    top: 15px;
    left: 70px;
    transform: rotate(30deg);
}
div.sub-notify-bell{
    display: none;
}
section.notify-bell:hover div.sub-notify-bell{
    display: flex;
}
section.top-videos-section{
    background-color: #F1F1F1;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 70px;
}
div.top-videos-img{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    margin-bottom: 10px;
}
div.top-videos-img div{
    position: relative;
}
div.top-videos-img img{
    height: 250px;
    width: 330px;
}
p.top-video-text{
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    font-weight: 500;
    font-size: large;
}
p.top-video-overlay{
    position: absolute;
    opacity: 0.3;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}
.button-top{
    display: flex;
    justify-content: center;
}
.button-top button{
    background-color: rgb(255,0,0);
    color: white;
    padding: 10px 30px;
    border-radius: 9px;
}
section.top-videos-section h1::after, .all-metro div:first-child h1:first-child::after{
    content: '';
    position: absolute;
    background-color: gray;
    width: 85%;
    height: 0.5px;
    bottom: 0;
}
section.all-metro img:last-child{
    height: 300px;
    width: 300px;

}
section.all-metro{
    display: flex;
    /* gap: 20px; */
}
div.metro-texts{
    display: flex;
    gap: 20px;
}
div.first-metro{
    max-width: 300px;
    border-right: 0.5px solid gray;
    padding-right: 10px;
    font-size: small;
    line-height: 1.5;
}
div.first-metro img{
    width: 270px;
}
div.get-metro-texts{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 90px;
    gap: 7px;
}
div.get-metro-texts img{
    width: 70px;
    height: 60px;
}
div.get-metro-texts div{
    display: flex;
    gap: 5px;
    /* border: 1px solid gray; */
}
.all-metro div:first-child h1:first-child::after{
    bottom: 5px;
}
.all-metro div:first-child h1:first-child{
    margin-bottom: 20px;
}
.all-metro{
    padding-bottom: 40px;
}
footer{
    background-color: black;
    color: white;
    padding: 66px 6% 6px 6%;
}
footer a{
    color: white;
    display: block;
}
footer img:first-child{
    width: 150px;
    margin-bottom: 40px;
}
div.footer-links{
    display: flex;
    gap: 10px;
}
div.footer-links div{
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
footer section{
    display: flex;
}
div.search-newsletter{
    position: relative;
    margin-bottom: 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
div.search-newsletter input{
    width: 15rem;
    /* padding: 10px; */
    border-radius: 20px;
    height: 42px;
    background-color: #4D4D4D;
    color: white;
    outline: none;
}
div.search-newsletter input::placeholder{
    background-color: #4D4D4D;
    color: white;
    padding: 10px;
}
div.search-newsletter p{
    position: absolute;
    right: 0;
    top: 4px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 50%;
}
div.search-newsletter svg{
    color: black;
}
div.subscribe-newsletter{
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 5px;
    padding: 10px;
    font-size: small;
    font-weight: bold;
    width: 15rem;
    margin-bottom: 20px;
}
div.footer-links-ii{
    display: flex;
    gap: 20px;
}
div.footer-links-ii p{
    background-color: #4D4D4D;
    padding: 5px;
    border-radius: 5px;
}
